.toast_class {
    position: fixed;
    z-index: 11;
    transition: all 0.5s ease;
    border-radius: 1rem;
    margin: 0 0 1rem 0;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    backdrop-filter: blur(10px);
  }
  
  .toast_content {
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
    min-width: 345px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .toast_icon {
    width: 1.75rem;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .toast_icon i {
    font-size: 1.25rem;
    font-weight: 500;
  }
  
  .toast_message {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: calc(100% - 1.75rem - 2rem - 1rem);
  }
  
  .toast_close {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s, color 0.5s, box-shadow 0.5s;
    &:hover{
        background: rgba(255, 255, 255, 0.6);
    }
  }
  
  .toast_close i {
    font-size: 0.875rem;
  }
  
  .toaster_success {
    background-color: #fff0eb;
    border: solid var(--pri-color);
    border-width: 0 0 0 6px;
    color: var(--pri-color);
  }
  
  .toaster_error {
    background: rgba(255, 231, 230, 0.7);
    border: solid #ff5757;
    border-width: 0 0 0 6px;
    color: #ff5757;
  }
  
  .toaster_info {
    background: rgba(219, 234, 254, 0.7);
    border: solid #3b82f6;
    border-width: 0 0 0 6px;
    color: #3b82f6;
  }
  
  .toaster_warning {
    background: rgba(255, 242, 226, 0.7);
    border: solid #cc8925;
    border-width: 0 0 0 6px;
    color: #cc8925;
  }
  
  .top-right-position {
    right: 1.25rem;
  }
  
  .top-left-position {
    left: 1.25rem;
  }
  
  .bottom-right-position {
    right: 1.25rem;
  }
  
  .bottom-left-position {
    left: 1.25rem;
  }