@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/* @layer theme, base, components, utilities; */
@layer utilities, theme;
@import "tailwindcss/theme.css" layer(theme);
/* @import "tailwindcss/preflight.css" layer(base); */
@import "tailwindcss/utilities.css" layer(utilities);


* {
  box-sizing: border-box;
  font-family: "Raleway", serif;
}


:root {
  --pri-color: #eb6b0e;
  --sec-color: #66785F;
  --tir-color: #91AC8F;

  --base-color: #fafafa;
  --text-black: #232323;

  --pri-text-color: #3e3358;

  --pri-bg: #ff7745;
  --sec-bg: #787b7d;
  --tir-bg: #f4f1ec;


  /* default-style */
  --font-size: 0.85rem;
  --letter-spacing : 0.5px;
}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.5px;
  font-family: var(--font-family)!important;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(linear,
      left bottom,
      left top,
      color-stop(0.44, rgb(122, 153, 217)),
      color-stop(0.72, rgb(73, 125, 189)),
      color-stop(0.86, rgb(28, 58, 148)));
  background-image: gradient(linear,
      left bottom,
      left top,
      color-stop(0.44, rgb(122, 153, 217)),
      color-stop(0.72, rgb(73, 125, 189)),
      color-stop(0.86, rgb(28, 58, 148)));
}

.p-password-panel{
  padding: 1rem;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.theme_button{
  padding: 0.65rem 1.25rem;
  border: 1px solid var(--pri-text-color);
  cursor: pointer;
  transition: all 0.5s;
}
.theme_button:hover{
  background-color: var(--pri-bg);
  border-radius: 2rem;
  color: var(--base-color);
  border: 1px solid var(--pri-color);
}
.theme_button:active{
  background-color: var(--pri-bg);
  border-radius: 2rem;
  color: var(--base-color);
  border: 1px solid var(--pri-color);
}

.undeline_span {
  border: solid transparent;
  border-bottom: solid var(--pri-bg);
  border-width: 1px 1px 3px 1px;
  padding: 0.25rem 0.5rem;
  transition: all 0.5s ease; /* Add transition for all properties */
  line-height: 1;
}

.undeline_span:hover {
  background-color: var(--pri-bg);
  color: var(--base-color);
  border: 1px solid var(--base-color);
}

.p-tooltip-text{
  font-size: 0.85rem;
  font-weight: 500;
  letter-spacing: 0.5px;
}


#LoginMenu{
  margin-top: 0.5rem;
  padding: 0!important;
  border-radius: 0.75rem;
  overflow: hidden;
}
#LoginMenu .p-submenu-header{
  border-bottom: 1px solid #dfdfdf;
}
#LoginMenu .p-menuitem > .p-menuitem-content .p-menuitem-link {
  padding: 0.875rem 1.25rem;
}
#LoginMenu .p-menuitem > .p-menuitem-content .p-menuitem-link .p-menuitem-text{
  font-size: 0.875rem;
  font-weight: 600;
}